
<div class="container">
    <div class="statement">
        Hisun is a creative <em>user experience designer</em> and <em>product manager</em><br>
        with years of experience leading UX and front-end teams <br>
        in mobile and web services for large-scale consumer audience.
    </div>
    <div class="border-emboss"></div>
    <div class="tile-area">
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/connexive">
                        <img src="/images/small-images/confidential-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Connexive", '/Connexive' %></h2>
                <div class="description">Personal finance web app still in stealth-mode private alpha</div>
            </div>
            <div class="clear"></div>
            <div class="tile">
                <div class="small-image">
                    <a href="/onboarding">
                        <img src="/images/small-images/onboarding-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "New User Acquisition Flow", '/onboarding' %></h2>
                <div class="description">UX design to maximize conversion rate for Windows Live new user sign-up and client download campaigns</div>
            </div>

        </div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/webmessenger">
                        <img src="/images/small-images/webmessenger-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Web Messenger", '/webmessenger' %></h2>
                <div class="description">Messenger chatting UX offered for Windows Live web suite </div>
            </div>
            <div class="clear"></div>
            <div class="tile">
                <div class="small-image">
                    <a href="/gadgets">
                        <img src="/images/small-images/gadget-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Desktop Gadgets", '/gadgets' %></h2>
                <div class="description">UX guidance for Microsoft-branded Windows gadgets with online data synch</div>
            </div>
        </div>
        <div class="tile-vertical">
            <div class="tile">
                <div class="small-image">
                    <a href="/mobilehome">
                        <img src="/images/small-images/mobilehome-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Mobile Web Landing Page", '/mobilehome' %></h2>
                <div class="description">Mobile dashboard page for Windows Live services at m.live.com</div>
            </div>
            <div class="clear"></div>
            <div class="tile">
                <div class="small-image">
                    <a href="/personalprojects">
                        <img src="/images/small-images/personal-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Personal Projects", '/personalprojects' %></h2>
                <div class="description">A few personal print design samples </div>
            </div>
        </div>
        <div class="tile-vertical">
             <div class="tile">
                <div class="small-image">
                    <a href="/dashboard">
                        <img src="/images/small-images/home-small.png">
                    </a>
                </div>
                <h2 class="label"><%= link_to "Windows Live Dashboard", '/dashboard' %></h2>
                <div class="description">The all-in-a-glance summary page for social updates, new emails, and new online files</div>
            </div>

        </div>
    </div>
</div>



