
<div class="container">
    <div class="tile-area">
        <div class="tile-vertical">
            <!--<img src="/images/box-top.png" class="box-top"/> -->
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/connexive" rel="facebox">
                            <img src="/images/small-images/cnx-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Email Dashboard", '/connexive', :rel => 'facebox' %></h2>
                    <div class="description">
                        Auto-organizer for information coming into your inbox
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!--img src="/images/box-top.png" class="box-top"/-->
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/template">
                            <img src="/images/small-images/aps-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "3-step Campaign Launch", '/template' %></h2>
                    <div class="description">
                      UX architecture to simplify the task of running a marketing campaign with templates
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-vertical">
            <!--img src="/images/box-top.png" class="box-top"/-->
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/geophoto">
                            <img src="/images/small-images/wl-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Gamified Geo-photo App", '/geophoto' %></h2>
                    <div class="description">
                      UX strategy and prototyping for a mobile app leveraging geo-tagged photos
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
            <!--img src="/images/box-top.png" class="box-top"/-->
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/webmessenger">
                            <img src="/images/small-images/webmessenger-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Web Messenger", '/webmessenger' %></h2>
                    <div class="description">
                      Messenger chatting UX offered for Windows Live web suite
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-vertical">
            <!--img src="/images/box-top.png" class="box-top"/-->
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/mobilehome">
                            <img src="/images/small-images/mobilehome-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "M.live.com", '/mobilehome' %></h2>
                    <div class="description">
                        Mobile dashboard page for Windows Live services at m.live.com
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
            <!--img src="/images/box-top.png" class="box-top"/-->
            <div class="clear"></div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/gadgets">
                            <img src="/images/small-images/gadget-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Desktop Gadgets", '/gadgets' %></h2>
                    <div class="description">
                        UX guidance for Microsoft-branded Windows gadgets with online data synch
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-vertical">
            <!--img src="/images/box-top.png" class="box-top"/-->
            <div class="clear"></div>
            <div class="tile-container">
                 <div class="tile">
                    <div class="small-image">
                        <a href="/dashboard">
                            <img src="/images/small-images/home-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "Windows Live Dashboard", '/dashboard' %></h2>
                    <div class="description">
                        The all-in-a-glance summary page for social updates, new emails, and new online files
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-container">
                <div class="tile">
                    <div class="small-image">
                        <a href="/onboarding">
                            <img src="/images/small-images/onboarding-small.png">
                        </a>
                    </div>
                    <h2 class="label"><%= link_to "New User Acquisition Flow", '/onboarding' %></h2>
                    <div class="description">
                      UX design to maximize conversion rate for Windows Live new user sign-up and client download campaigns
                        <div class="box-bottom-div">
                            <!--img src="/images/box-bottom.png" class="box-bottom"/-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



